*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center; 
    background-size: cover; 
    position: relative; 
}

.text-box{
    width: 100%;
    color: #fff;
    position: absolute; 
    top: 40%; 
    left: 50%
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    pointer: cursor;
}

.hero-btn:hover{
    border: 1px solid #30d5c8;
    background: #30d5c8;
    transition: 0.75s;
}











